{% block sw_cms_preview_eecomBlog_heading %}
    <div class="sw-cms-preview-eecom-blog-heading">

        {% block sw_cms_preview_eecomBlog_heading_name %}
            <div class="sw-cms-preview-eecom-blog-heading__name">
                Lorem ipsum dolor sit amet.
            </div>
        {% endblock %}

    </div>
{% endblock %}
