{% block sw_cms_element_eecom_blog_teaser_box_preview %}
    <div class="sw-cms-el-preview-product-slider">
        <sw-icon
            name="default-arrow-head-left"
            size="10"
        />

        <sw-icon
            name="default-arrow-head-right"
            size="10"
        />
    </div>
{% endblock %}
