{% block sw_cms_block_eecom_blog_teaser_box_preview %}
    <div class="sw-cms-preview-eecom-blog-teaser-box sw-cms-preview-product-slider">
        <sw-icon
            name="default-arrow-head-left"
            size="20"
        />
        <div class="sw-cms-preview-product-slider__product-box">
            <div class="sw-cms-preview-image-text-gallery__left">
                <div class="sw-cms-preview-image-text-gallery__image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                    <a> Read More</a>
                </div>
                <div class="sw-cms-preview-image-text-gallery__text">
                    <h2>Lorem</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="sw-cms-preview-image-text-gallery__center">
                <div class="sw-cms-preview-image-text-gallery__image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                    <a> Read More</a>
                </div>
                <div class="sw-cms-preview-image-text-gallery__text">
                    <h2>Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

        </div>
        <sw-icon
            name="default-arrow-head-right"
            size="20"
        />
    </div>
{% endblock %}
