.publisher-activity-feed {

    &__whitespace {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 15%;
        text-align: center;
        opacity: .5;
    }

    &__listing {
        padding: 0 20px;
    }
}
