<sw-sidebar-item
    icon="default-action-history"
    :title="$tc('publisher.activity.feed.title')"
>
    <div class="publisher-activity-feed">
        <div class="publisher-activity-feed__section">
            <p
                v-if="!hasActivity"
                class="publisher-activity-feed__whitespace"
            >
                {{ $tc('publisher.activity.feed.whitespace') }}
            </p>
            <div
                v-else
                class="publisher-activity-feed__listing"
            >
                <eecom-blog-publisher-activity-item
                    v-for="log in activity"
                    :key="`publisher-log-${log.id}`"
                    :log="log"
                ></eecom-blog-publisher-activity-item>
            </div>
        </div>
    </div>
</sw-sidebar-item>
