{% block sw_cms_block_category_navigation_preview %}
    <div class="sw-cms-preview-blog-category-navigation">
        <div class="sw-cms-block-category-placeholder-listing">
            <h2>{{ $tc('eecom-blog.blocks.blog.eecomBlogCategoryNavigation.preview.label.navigation') }}</h2>

            <div class="sw-cms-block-category-navigation__label">
                <span>Blog</span>
            </div>

            <div class="sw-cms-block-category-navigation__placeholder"></div>
            <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
            <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
            <hr>
        </div>
    </div>
{% endblock %}
