{% block sw_cms_block_product_heading %}
    <div
        class="sw-cms-block-eecom-blog-heading"
        :class="currentDeviceViewClass"
    >
        <slot name="left">
            {% block sw_cms_block_eecomBlog_heading_slot_left %}{% endblock %}
        </slot>


    </div>
{% endblock %}
