{% block sw_cms_preview_eecom_single_blog %}
    <div class="sw-cms-preview-eecom-single-blog">
        <div class="sw-cms-preview-eecom-single-blog">
                <div class="sw-cms-preview-image-text-gallery__image">
                    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
                    <a> Read More</a>
                </div>
                <div class="sw-cms-preview-image-text-gallery__text">
                    <h2>Lorem</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
        </div>
    </div>
{% endblock %}
