{% block eecom_cms_element_blog_listing %}
    <div class="eecom-cms-el-blog-listing sw-cms-el-product-listing">

        <div class="sw-cms-el-product-listing__content">

            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>

            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>

            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>
            <div class="sw-cms-el-product-box box-standard">
                <div class="sw-cms-el-product-box__content">
                    <div class="sw-cms-el-product-box__badges">

                    </div>
                    <div class="sw-cms-el-product-box__media">
                        <a href="#" title="Lorem ipsum dolor" class="sw-cms-el-product-box__image-link">
                            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset" class="sw-cms-el-product-box__image">
                            <a class="read-more"> Read More</a>
                        </a>
                    </div>
                    <div class="sw-cms-el-product-box__info">
                        <div class="sw-cms-el-product-box__skeleton-name"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>
                        <div class="sw-cms-el-product-box__skeleton-description"></div>

                    </div>
                </div>
            </div>












        </div>

        <div class="sw-cms-el-product-listing__pagination">
            <div class="sw-cms-el-product-listing__pagination-entry">
                <sw-icon
                    name="small-arrow-small-left"
                    size="20px"
                />
            </div>

            <div class="sw-cms-el-product-listing__pagination-entry">
                1
            </div>
            <div class="sw-cms-el-product-listing__pagination-entry">
                2
            </div>
            <div class="sw-cms-el-product-listing__pagination-entry">
                3
            </div>

            <div class="sw-cms-el-product-listing__pagination-entry">
                <sw-icon
                    name="small-arrow-small-right"
                    size="20px"
                />
            </div>
        </div>
    </div>
{% endblock %}
