{% block block_eecom_blog_category_navigation %}
    {% set element = block.slots.getSlot('blogCategoryContent') %}

    <div class="col-12 p-0" data-cms-element-id="{{ element.id }}">
        {% block block_text_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
